<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>享车网六月空调冷媒免费检测季</title>
<style type="text/css">
.air_box {
  width: 100%;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  height: 2640px;
}
.top1, .top2 {
  width: 1300px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  height: 195px;
}
.top1{
  background-repeat: no-repeat;
}
.chehang {
  height: 380px;
  width: 980px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
.chehang h1 {
  font-size: 28px;
  color: #CD0B1A;
  font-weight: bolder;
  width: 100%;
  height: 40px;
  float: left;
  font-family: "微软雅黑";
}
.chehang ul {
  float: left;
}
.quyu {
  height: 30px;
  width: 50px;
  float: left;
  background-color: #CD0B1A;
  font-size: 16px;
  color: #FFFFFF;
  font-family: "微软雅黑";
  line-height: 30px;
  text-align: center;
}
.chehang_name {
  width: 260px;
  margin-left: 15px;
  float: left;
  font-size: 14px;
  height: 100px;
  color: #333333;
  line-height: 25px;
  margin-bottom: 40px;
}
.chehang_name li {
}
.chehang_name li {
  list-style-position: outside;
  list-style-image: none;
  list-style-type: none;
}
a:link {
  font-size: 14px;
  color: #333333;
  text-decoration: none;
}
a:visited {
  color: #333333;
}
a:hover {
  font-size: 14px;
  color: #CD0B1A;
  text-decoration: underline;
}
.knowledge {
  height: 245px;
  width: 1046px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
.nav {
  height: 40px;
  width: 150px;
  font-size: 14px;
  color: #333333;
  float: left;
  margin-top: 35px;
  margin-left: 230px;
  display:inline;
}
</style>
</head>

<body style="margin-top:0">
<div class="air_box">
  <div class="top1" style="background-image: url(<%= asset_path ('topic/june_act/pic_r1_c1.jpg') %>);">
    <div class="nav">
      <a href="/" target="_blank">享车商城</a>　|　
      <a href="http://www.ixiangche.com" target="_blank">享车网</a>
    </div>
  </div>
  <div class="top2"><img src="<%=asset_path('topic/june_act/pic_r2_c1.jpg')%>" width="1300" /></div>
  <div class="top2"><img src="<%=asset_path('topic/june_act/pic_r3_c1.jpg')%>" /></div>
  <div class="top2"><img src="<%=asset_path('topic/june_act/pic_r4_c1.jpg')%>" border="0" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="779,65,1024,126" target="_blank" href="/home/card" />
</map></div>
  <div class="chehang">
    <h1>活动车行：</h1>  
    <div class="quyu">城东</div>   
    <div class="chehang_name">
        <li>·<a href="http://ixiangche.com/frontend/vendors/18" target="_blank">车之翼公园北路店</a></li>
        <li>·<a href="http://ixiangche.com/frontend/vendors/23" target="_blank">车爵仕长乐坊店</a></li>
        <li>·<a href="http://ixiangche.com/frontend/vendors/22" target="_blank">极致动力汽车养护会所</a></li>
        <li>·<a href="http://ixiangche.com/frontend/vendors/6" target="_blank">星源汽修</a></li>
    </div>
      <div class="quyu">城北</div>   
    <div class="chehang_name">
        <li>·<a href="http://ixiangche.com/frontend/vendors/24" target="_blank">锦轮汽修</a></li>
        <li>·<a href="http://ixiangche.com/frontend/vendors/26" target="_blank">柏韦汽车养护会所</a></li>
        <li>·<a href="http://ixiangche.com/frontend/vendors/9" target="_blank">威航汽修太华路店</a></li>
    </div>
      <div class="quyu">城内</div>   
      <div class="chehang_name">
        <li>·<a href="http://ixiangche.com/frontend/vendors/19" target="_blank">车来车往南马道店</a></li>
        <li>·<a href="http://ixiangche.com/frontend/vendors/10" target="_blank">车来车往北马道店</a></li>
    </div>
<div class="quyu">城西</div>   
    <div class="chehang_name">
        <li>·<a href="http://ixiangche.com/frontend/vendors/3" target="_blank">兰鹰汽修枣园店</a></li>
        <li>·<a href="http://ixiangche.com/frontend/vendors/16" target="_blank">卡宾达汽修</a></li>
    </div>
      <div class="quyu">城南</div>   
      <div class="chehang_name">
        <li>·<a href="http://ixiangche.com/frontend/vendors/7" target="_blank">威航汽修光华路店</a></li>
        <li>·<a href="http://ixiangche.com/frontend/vendors/8" target="_blank">威航汽修曲江店</a></li>
        <li>·<a href="http://ixiangche.com/frontend/vendors/21" target="_blank">鸿海汽修电子三路店</a></li>
        <li>·<a href="http://ixiangche.com/frontend/vendors/5" target="_blank">轰记车行</a></li>
    </div>
      <div class="quyu">城南</div>   
      <div class="chehang_name">
        <li>·<a href="http://ixiangche.com/frontend/vendors/15" target="_blank">盛和养车行</a></li>
        <li>·<a href="http://ixiangche.com/frontend/vendors/2" target="_blank">兰鹰汽修高新店</a></li>
        <li>·<a href="http://ixiangche.com/frontend/vendors/14" target="_blank">卡尊汽修</a></li>
    </div>
  </div>
  <div class="knowledge"><img src="<%=asset_path('topic/june_act/pic_r6_c2.jpg')%>" width="1046" height="245" /></div>
  <div class="knowledge"><img src="<%=asset_path('topic/june_act/pic_r7_c2.jpg')%>" width="1046" height="245" /></div>
  <div class="knowledge"><img src="<%=asset_path('topic/june_act/pic_r8_c2.jpg')%>" width="1046" height="245" /></div>
  <div class="knowledge"><img src="<%=asset_path('topic/june_act/pic_r9_c2.jpg')%>" width="1046" height="245" /></div>
  <div class="knowledge"><img src="<%=asset_path('topic/june_act/pic_r10_c2.jpg')%>" width="1046" height="245" /></div>
  <div class="knowledge"><img src="<%=asset_path('topic/june_act/pic_r11_c2.jpg')%>" width="1046" height="245" /></div>
</div>
</body>
</html>