<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script language="javascript" type="text/javascript" src="/jquery-1.9.1.js"></script>
<script language="javascript" type="text/javascript" src="/jquery.lazyload.js"></script>
<title>享车商城开业啦！四重惊喜等你抢！</title>
</head>

<body style="background-color:#B00046">
  <div class="zhuanti_head1" style="background-image: url(<%= asset_path ('topic/zhuanti_toutu_r1_c1.jpg') %>);">
    <div class="zhuanti_daohang"><a href="http://www.ixiangche.com/" target="_blank" class="zhuanti_daohang">享车网　|</a><a href="http://m.ixiangche.com/" target="_blank" class="zhuanti_daohang">　享车商城</a><a href="#" class="zhuanti_daohang"></a></div>
</div>
  <div class="zhuanti_head"><img src="<%=asset_path('topic/zhuanti_toutu_r2_c1.jpg')%>" width="1200" height="250" /></div>
  <div class="zhuanti_head"> <img src="<%=asset_path('topic/zhuanti_toutu_r3_c1.jpg')%>" width="1200px" height="250px"/></div>
  <div class="zhuanti_head"> <img src="<%=asset_path('topic/zhuanti_toutu_r4_c1.jpg')%>" width="1200px" height="250px"  /></div>
  <div class="zhuanti_head"> <img src="<%=asset_path('topic/zhuanti_toutu_r7_c1.jpg')%>" width="1200px" height="250px"  /></div>
<!-- 产品1 -->
<a id="f1" name="f1"></a>
<div class="zhuanti_products1" style="background-image: url(<%= asset_path ('topic/zhuanti14_04_r2_c2_r1_c1.jpg') %>)">
  <div class="zhuanti_products_title1" style="background-image: url(<%= asset_path ('topic/1f.jpg') %>);">
    <h1>打蜡折扣区</h1>
    <h2>打蜡可以让您的爱车光亮如新！每三个月一次的打蜡是必不可少的！</h2>
    <h3><a href="http://m.ixiangche.com/home/search?search_key=&amp;search_type=1&amp;submit=" target="_blank" class="zhuanti_14">更多优惠&gt;&gt;</a></h3>
  </div>
  <div class="zhuanti_products_bg1" style="background-image: url(<%= asset_path ('topic/zhuanti14_04_r4_c6.jpg') %>);">
    <div class="zhuanti_explain1"><img src="<%=asset_path('topic/zhuanti14_04_r6_c8.jpg')%>" width="86px" height="86px" /><table width="844px" height="89px" border="0px" align="left" cellpadding="0" cellspacing="4">
  <tr>
    <td><table width="92%" border="0" align="center" cellpadding="0" cellspacing="4">
        <tr>
          <td height="30" align="left" valign="middle"><span class="zhuanti_16">1.从未打蜡的车主！★★★★★</span></td>
        </tr>
        <tr>
          <td height="30" align="left" valign="middle">理由：这是您的车么？</td>
        </tr>
      </table></td>
    <td width="14"><table width="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#E2BEE2">
      <tr>
        <td width="1" height="70"></td>
      </tr>
    </table></td>
    <td><table width="85%" border="0" align="center" cellpadding="0" cellspacing="4">
      <tr>
        <td width="271" height="30" align="left" valign="middle"><span class="zhuanti_16">2.三个多月没打蜡车主！★★★</span></td>
      </tr>
      <tr>
        <td height="30" align="left" valign="middle">理由：三个月一次常规养护很重要哦！</td>
      </tr>
    </table></td>
    <td width="2"><table width="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#E2BEE2">
      <tr>
        <td width="1" height="70"></td>
      </tr>
    </table></td>
    <td><table width="202" border="0" align="center" cellpadding="0" cellspacing="4">
      <tr>
        <td height="30" align="left" valign="middle"><span class="zhuanti_16">3.新车车主★★★★</span></td>
      </tr>
      <tr>
        <td height="30" align="left" valign="middle">理由：新车别用研磨蜡</td>
      </tr>
    </table></td>
  </tr>
</table>
    </div>

    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/9" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/la4.jpg')%>" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>机器打蜡套餐</h1>
        <h2>含手工费</h2>
        <h3><a href="http://m.ixiangche.com/goods/9" target="_blank">英国原装进口尼尔森黄金蜡</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥120.00 </h1>
        <a href="http://m.ixiangche.com/goods/9" target="_blank">
          <img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" />
        </a>
        <h2>会员价￥<span class="zhuanti_35">90</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/49" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/la3.jpg')%>" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>手工打蜡套餐</h1>
        <h2>含手工费</h2>
        <h3><a href="http://m.ixiangche.com/goods/49" target="_blank">好顺铂金漆面增艳镀膜蜡</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥180.00 </h1>
        <a href="http://m.ixiangche.com/goods/49" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">100</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/44" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/la2.jpg')%>" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>手工打蜡套餐</h1>
        <h2>含手工费</h2>
        <h3><a href="http://m.ixiangche.com/goods/44" target="_blank">好顺铂金漆面增艳镀膜蜡</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥100.00 </h1>
        <a href="http://m.ixiangche.com/goods/44" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">70</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/30" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/la1.jpg')%>" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>手工打蜡套餐</h1>
        <h2>含手工费</h2>
        <h3><a href="http://m.ixiangche.com/goods/30" target="_blank">好顺铂金漆面增艳镀膜蜡</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥100.00 </h1>
        <a href="http://m.ixiangche.com/goods/30" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">60</span><span class="zhuanti_20">.0</span></h2>
      </div>
    </div>
  </div>
</div>

<!-- 产品2 -->
<a id="f2" name="f2"></a>
<div class="zhuanti_products2" style="background-image: url(<%= asset_path ('topic/zhuanti14_04_3.jpg') %>);">
  <div class="zhuanti_products_title2" style="background-image: url(<%= asset_path ('topic/2f.jpg') %>);">
    <h1>内饰清洗折扣区</h1>
    <h2>车内环境其实比车外环境更重要，尤其是有孩子的家庭！</h2>
    <h3><a href="http://m.ixiangche.com/home/search?search_key=&amp;search_type=1&amp;submit=" target="_blank" class="zhuanti_14">更多优惠&gt;&gt;</a></h3>
  </div>
  <div class="zhuanti_products_bg2" style="background-image: url(<%= asset_path ('topic/zhuanti14_04_r4_c6.jpg') %>);">
    <div class="zhuanti_explain2"><img src="<%=asset_path('topic/zhuanti14_04_r15_c9.jpg')%>" width="86" height="86" />
      <table width="853" height="89" border="0" align="left" cellpadding="0" cellspacing="4">
  <tr>
    <td><table border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="13" align="left" valign="middle"><span class="zhuanti_16">1.从未清洗过的车主</span></td>
        </tr>
        <tr>
          <td height="13" align="left" valign="middle"><span class="zhuanti_16">★★★★★</span></td>
        </tr>
        <tr>
          <td height="30" align="left" valign="middle">理由：清洗的不只是你能看到的地方！</td>
        </tr>
      </table></td>
    <td width="1"><table width="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#9EE5FF">
      <tr>
        <td width="1" height="70"></td>
      </tr>
    </table></td>
    <td><table border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="13" align="left" valign="middle"><span class="zhuanti_16">2.很少清洗的车主</span></td>
      </tr>
      <tr>
        <td height="13" align="left" valign="middle"><span class="zhuanti_16">★★★★</span></td>
      </tr>
      <tr>
        <td height="30" align="left" valign="middle">三个月一次常规养护很重要哦！</td>
      </tr>
    </table></td>
    <td width="1"><table width="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#B5DEFA">
      <tr>
        <td width="1" height="70"></td>
      </tr>
    </table></td>
    <td><table border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="13" align="left" valign="middle"><span class="zhuanti_16">3.新车车主</span></td>
      </tr>
      <tr>
        <td height="13" align="left" valign="middle"><span class="zhuanti_16">★★★★★</span></td>
      </tr>
      <tr>
        <td height="30" align="left" valign="middle">理由：接手后记得室内清洗除去异味！</td>
      </tr>
    </table></td>
       <td width="1"><table width="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#B5DEFA">
         <tr>
           <td width="1" height="70"></td>
         </tr>
       </table></td>
       <td><table border="0" align="right" cellpadding="0" cellspacing="0">
         <tr>
           <td height="13" align="left" valign="middle"><span class="zhuanti_16">4.有孩子的车主</span></td>
         </tr>
         <tr>
           <td height="13" align="left" valign="middle"><span class="zhuanti_16">★★★★</span></td>
         </tr>
         <tr>
           <td height="30" align="left" valign="middle">理由：为孩子健康，每月清洗一次</td>
         </tr>
       </table></td>
  </tr>
      </table>
    </div>
    <div class="zhuanti_product_introduce"><strong class="zhuanti_22">车</strong>内环境其实比车外环境更重要，尤其是对于有小孩子的家庭来说就更为重要了！汽车内部是一个封闭空间，车内浮沉以及缝隙中的食物和用品残渣如果长期不清理，容易滋生大量螨虫和细菌，对车内人员造成的影响反而更为严重。</div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/32" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/nie3.jpg')%>" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>内饰清洗套餐</h1>
        <h2>含工时费</h2>
        <h3><a href="http://m.ixiangche.com/goods/32" target="_blank">汽车美容洗车+内饰桑拿</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥280.00 </h1>
        <a href="http://m.ixiangche.com/goods/32" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">220</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/32" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/nie2.jpg')%>" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>内饰清洗套餐</h1>
        <h2>含工时费</h2>
        <h3><a href="http://m.ixiangche.com/goods/32" target="_blank">汽车美容洗车+内饰桑拿</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥280.00 </h1>
        <a href="http://m.ixiangche.com/goods/32" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">220</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/31" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/nei1.jpg')%>" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>内饰清洗套餐</h1>
        <h2>含工时费</h2>
        <h3><a href="http://m.ixiangche.com/goods/31" target="_blank">龟牌橙油，精工操作</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥360.00 </h1>
        <a href="http://m.ixiangche.com/goods/31" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">300</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
  </div>
</div>

<!-- 产品3 -->
<a id="f3" name="f3"></a>
<div class="zhuanti_products3" style="background-image: url(<%= asset_path ('topic/zhuanti14_05.jpg') %>);">
  <div class="zhuanti_products_title3" style="background-image: url(<%= asset_path ('topic/3f.jpg') %>);">
    <h1>车辆保养折扣区</h1>
    <h2>长途旅行前，进行一次常规检查是必不可少的哦！</h2>
    <h3><a href="http://m.ixiangche.com/goods/38" target="_blank" class="zhuanti_14">更多优惠&gt;&gt;</a></h3>
  </div>
  <div class="zhuanti_products_bg3" style="background-image: url(<%= asset_path ('topic/zhuanti14_04_r4_c6.jpg') %>);">
    <div class="zhuanti_explain3"><img src="<%=asset_path('topic/zhuanti14_04_r19_c9.jpg')%>" width="86" height="86" />
    <table width="844" height="89" border="0" align="left" cellpadding="0" cellspacing="4">
  <tr>
    <td><table width="92%" border="0" align="center" cellpadding="0" cellspacing="4">
        <tr>
          <td height="30" align="left" valign="middle"><span class="zhuanti_16">1.我刚买了第一辆车 ★★★★★</span></td>
        </tr>
        <tr>
          <td height="30" align="left" valign="middle">理由：出保前，就在ssss店里乖乖保养吧！你没的选择……</td>
        </tr>
      </table></td>
    <td width="14"><table width="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#F7C7B1">
      <tr>
        <td width="1" height="70"></td>
      </tr>
    </table></td>
    <td><table width="85%" border="0" align="center" cellpadding="0" cellspacing="4">
      <tr>
        <td width="271" height="30" align="left" valign="middle"><span class="zhuanti_16">2.我的车出保咯！★★★</span></td>
      </tr>
      <tr>
        <td height="30" align="left" valign="middle">理由：出保后，究竟该选哪家车行？来享车网就对了！</td>
      </tr>
    </table></td>
    </tr>
      </table>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/19" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/bao4.jpg')%>" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>车辆保养套餐</h1>
        <h2>含手工费</h2>
        <h3><a href="http://m.ixiangche.com/goods/19" target="_blank">灰壳喜力HX8+豹王机油滤清器</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥680.00 </h1>
        <a href="http://m.ixiangche.com/goods/19" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">578</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/17" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/bao3.jpg')%>" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>车辆保养套餐</h1>
        <h2>含工时费</h2>
        <h3><a href="http://m.ixiangche.com/goods/17" target="_blank">壳牌黄壳HX6+豹王机油滤清器</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥360.00 </h1>
        <a href="http://m.ixiangche.com/goods/17" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">306</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/33" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/bao2.jpg')%>" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>车辆保养套餐</h1>
        <h2>含工时费</h2>
        <h3><a href="http://m.ixiangche.com/goods/33" target="_blank">黄壳HX5+顶呱呱机油滤清器</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥120.00 </h1>
        <a href="http://m.ixiangche.com/goods/33" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">350</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/40" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/bao1.jpg')%>" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>车辆保养套餐</h1>
        <h2>含工时费</h2>
        <h3><a href="http://m.ixiangche.com/goods/40" target="_blank">嘉实多磁护+松正机滤+空滤清洁</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥680.00 </h1>
        <a href="http://m.ixiangche.com/goods/40" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">450</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/18" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/bao7.jpg')%>" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>车辆保养套餐</h1>
        <h2>含手工费</h2>
        <h3><a href="http://m.ixiangche.com/goods/18" target="_blank">蓝壳HX7+豹王机油滤清器</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥500.00 </h1>
        <a href="http://m.ixiangche.com/goods/18" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">425</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/12" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/bao6.jpg')%>" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>车辆保养套餐</h1>
        <h2>含手工费</h2>
        <h3><a href="http://m.ixiangche.com/goods/12" target="_blank">金美孚1号+豹王机油滤清器</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥720.00 </h1>
        <a href="http://m.ixiangche.com/goods/12" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">612</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/39" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/bao5.jpg')%>" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>车辆保养套餐</h1>
        <h2>含手工费</h2>
        <h3><a href="http://m.ixiangche.com/goods/39" target="_blank">金嘉护机油+松正机滤+空滤清洁</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥550.00 </h1>
        <a href="http://m.ixiangche.com/goods/39" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">280</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
    <div class="zhuanti_product_introduce"><strong class="zhuanti_22">保</strong>养分小保养和大保养！一般每5000公里进行一次小保养！当然如果使用非原厂矿物油的话，小保养的里程数可以适当延长到7500公里，或10000公里一次。具体情况要根据车况以及使用的机油机滤类型来定。更换的机油分为矿物油、半合成油和全合成油三类。<br />
    </div>
  </div>
</div>

<!-- 产品4 -->
<a id="f4" name="f4"></a>
<div class="zhuanti_products4" style="background-image: url(<%= asset_path ('topic/zhuanti14_06.png') %>);">
  <div class="zhuanti_products_title4" style="background-image: url(<%= asset_path ('topic/4f.jpg') %>);">
    <h1>轮胎折扣区</h1>
    <h2>三年或六万公立就需考虑更换全部轮胎</h2>
    <h3><a href="http://m.ixiangche.com/home/search?search_key=&amp;search_type=1&amp;submit=" target="_blank" class="zhuanti_14">更多优惠&gt;&gt;</a></h3>
  </div>
  <div class="zhuanti_products_bg4" style="background-image: url(<%= asset_path ('topic/zhuanti14_04_r4_c6.jpg') %>);">
    <div class="zhuanti_explain4"><img src="<%=asset_path('topic/zhuanti14_04_r25_c9.jpg')%>" width="86" height="86" />
    <table width="854" height="94" border="0" align="left" cellpadding="0" cellspacing="3">
  <tr>
    <td valign="top"><table width="180" border="0" align="center" cellpadding="0" cellspacing="3">
        <tr>
          <td height="25" align="left" valign="middle"><span class="zhuanti_16">磨损严重</span></td>
        </tr>
        <tr>
          <td height="30" align="left" valign="middle">每个轮胎胎面凹槽处都有一个磨损极限的标识，这个标识厚度大约2mm左右。</td>
        </tr>
      </table></td>
    <td><table width="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CEE0B0">
      <tr>
        <td width="1" height="70"></td>
      </tr>
    </table></td>
    <td valign="top"><table width="196" border="0" align="center" cellpadding="0" cellspacing="3">
      <tr>
        <td height="25" align="left" valign="middle"><span class="zhuanti_16">老化严重</span></td>
      </tr>
      <tr>
        <td height="30" align="left" valign="middle">观察轮胎胎面以及胎壁上的纹路，如果普遍出现裂纹则表明轮胎已经老化严重。</td>
      </tr>
    </table></td>
    <td><table width="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CDDEB1">
      <tr>
        <td width="1" height="70"></td>
      </tr>
    </table></td>
    <td valign="top"><table width="202" border="0" align="center" cellpadding="0" cellspacing="3">
      <tr>
        <td height="25" align="left" valign="middle"><span class="zhuanti_16">起包变形</span></td>
      </tr>
      <tr>
        <td align="left" valign="middle">轮胎出现起包变形是一件很危险的事情，如果发现起包变形的情况，最好第一时间更换轮胎。</td>
      </tr>
    </table></td>
       <td><table width="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CDDEB1">
         <tr>
           <td width="1" height="70"></td>
         </tr>
       </table></td>
       <td valign="top"><table width="202" border="0" align="right" cellpadding="0" cellspacing="3">
         <tr>
           <td height="25" align="left" valign="middle"><span class="zhuanti_16">胎壁被扎</span></td>
         </tr>
         <tr>
           <td height="30" align="left" valign="middle">胎壁被扎的确比胎面受伤更危险，如果受损处位于标识下侧靠近轮毂边缘，此时轮胎必须更换</td>
         </tr>
       </table></td>
  </tr>
      </table>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/20" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/lun4.jpg')%>" alt="" width="213" height="230" />
        </a>
      </div>

      <div class="zhuanti_product_name">
        <h1>普利司通B250</h1>
        <h2>含安装费</h2>
        <h3><a href="http://m.ixiangche.com/goods/20" target="_blank">185/55R15 82H</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥700.00 </h1>
        <a href="http://m.ixiangche.com/goods/20" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">500</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/22" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/lun3.jpg')%>" alt="" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>普利司通B250</h1>
        <h2>含安装费</h2>
        <h3><a href="http://m.ixiangche.com/goods/22" target="_blank">175/70R14 84H</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥700.00 </h1>
        <a href="http://m.ixiangche.com/goods/22" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">500</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/21" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/lun2.jpg')%>" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>普利司通B391</h1>
        <h2>含安装费</h2>
        <h3><a href="http://m.ixiangche.com/goods/21" target="_blank">175/65R14 82T</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥700.00 </h1>
        <a href="http://m.ixiangche.com/goods/21" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">500</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/24" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/lun1.jpg')%>" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>普利司通越野</h1>
        <h2>含安装费</h2>
        <h3><a href="http://m.ixiangche.com/goods/24" target="_blank">245/70R16 107S</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥900.00 </h1>
        <a href="http://m.ixiangche.com/goods/24" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">700</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/28" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/lun8.jpg')%>" alt="" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>普利司通越野</h1>
        <h2>含安装费</h2>
        <h3><a href="http://m.ixiangche.com/goods/28" target="_blank">235/55R18 100V</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥1200.00 </h1>
        <a href="http://m.ixiangche.com/goods/28" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">1000</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/25" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/lun7.jpg')%>" alt="" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>普利司通越野</h1>
        <h2>含安装费</h2>
        <h3><a href="http://m.ixiangche.com/goods/25" target="_blank">225/65R17 102T</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥900.00 </h1>
        <a href="http://m.ixiangche.com/goods/25" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">700</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/27" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/lun6.jpg')%>" alt="" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>普利司通越野</h1>
        <h2>含安装费</h2>
        <h3><a href="http://m.ixiangche.com/goods/27" target="_blank">225/65R17 101H</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥1000.00 </h1>
        <a href="http://m.ixiangche.com/goods/27" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">800</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/26" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/lun5.jpg')%>" alt="" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>普利司通越野</h1>
        <h2>含安装费</h2>
        <h3><a href="http://m.ixiangche.com/goods/26" target="_blank">215/60R17 96H</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥1100.00 </h1>
        <a href="http://m.ixiangche.com/goods/26" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">900</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
  </div>
</div>

<!-- 产品5 -->
<a id="f5" name="f5"></a>
<div class="zhuanti_products5" style="background-image: url(<%= asset_path ('topic/zhuanti14_07.jpg') %>);">
  <div class="zhuanti_products_title5" style="background-image: url(<%= asset_path ('topic/5f.jpg') %>);">
    <h1>动平衡、四轮定位折扣区</h1>
    <h2>新胎更换后一定要做动平衡哦！</h2>
    <h3><a href="#" target="_blank" class="zhuanti_14">更多优惠&gt;&gt;</a></h3>
  </div>
  <div class="zhuanti_products_bg5" style="background-image: url(<%= asset_path ('topic/zhuanti14_04_r4_c6.jpg') %>);">
    <div class="zhuanti_explain5"><img src="<%=asset_path('topic/zhuanti14_04_r25_c12.jpg')%>" width="86" height="86" />
    <table width="834" height="89" border="0" align="left" cellpadding="0" cellspacing="4">
  <tr>
    <td width="443" height="86"><table width="361" border="0" align="center" cellpadding="0" cellspacing="4">
        <tr>
          <td height="30" align="left" valign="middle"><span class="zhuanti_16">什么时候该做动平衡了？</span></td>
        </tr>
        <tr>
          <td height="30" align="left" valign="middle">当车速超过100公里/小时以上时，方向盘发生抖动，就说明车轮已经失去了动态平衡，请选择专业车行操作！</td>
        </tr>
      </table></td>
    <td width="26"><table width="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#FBBCC7">
      <tr>
        <td width="1" height="70"></td>
      </tr>
    </table></td>
    <td width="349"><table width="364" border="0" align="center" cellpadding="0" cellspacing="4">
      <tr>
        <td height="30" align="left" valign="middle"><span class="zhuanti_16">什么时候该做四轮定位了？</span></td>
      </tr>
      <tr>
        <td height="30" align="left" valign="middle">当正常行驶中出现明显的转向不足或直线行驶稳定性降低的情况，或是某一侧的轮胎产生明显的偏磨情况，就说明您该做动平衡了！</td>
      </tr>
    </table></td>
    </tr>
      </table>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/48" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/dong4.jpg')%>" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>四轮定位服务</h1>
        <h2>含工时费</h2>
        <h3><a href="http://m.ixiangche.com/goods/48" target="_blank">精准施工，服务优良</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥150.00 </h1>
        <a href="http://m.ixiangche.com/goods/48" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">100</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/13" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/dong3.jpg')%>" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>四轮定位服务</h1>
        <h2>含工时费</h2>
        <h3><a href="http://m.ixiangche.com/goods/13" target="_blank">精准施工，超越4S店</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥150.00 </h1>
        <a href="http://m.ixiangche.com/goods/13" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">100</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/37" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/dong2.jpg')%>" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>调试动平衡</h1>
        <h2>含工时费</h2>
        <h3><a href="http://m.ixiangche.com/goods/37" target="_blank">施工专业，细心周到</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥20.00 </h1>
        <a href="http://m.ixiangche.com/goods/37" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">12</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
    <div class="zhuanti_product">
      <div class="zhuanti_product_pic">
        <a href="http://m.ixiangche.com/goods/47" target="_blank">
          <img class="lazy" src="<%=asset_path('grey.gif')%>" data-original="<%=asset_path('topic/dong1.jpg')%>" width="213" height="230" />
        </a>
      </div>
      <div class="zhuanti_product_name">
        <h1>调试动平衡</h1>
        <h2>含工时费</h2>
        <h3><a href="http://m.ixiangche.com/goods/47" target="_blank">保护轮胎安全行驶</a></h3>
      </div>
      <div class="zhuanti_product_price">
        <h1>原价：￥25.00 </h1>
        <a href="http://m.ixiangche.com/goods/47" target="_blank"><img src="<%=asset_path('topic/zhuanti14_04_r11_c13.jpg')%>" /></a>
        <h2>会员价￥<span class="zhuanti_35">10</span><em class="zhuanti_20">.0</em></h2>
      </div>
    </div>
  </div>
</div>
<div class="zhuanti_biaoqian" style="top:0px;right:10px;position:fixed;bottom:0px;background-image: url(<%= asset_path ('topic/biaoqian_bj.jpg') %>);">
  <h1><a href="#f1"><img src="<%=asset_path('topic/biaoqian_r1_c1.jpg')%>"></a></h1>
  <h1><a href="#f2"><img src="<%=asset_path('topic/biaoqian_r2_c1.jpg')%>"></a></h1>
  <h1><a href="#f3"><img src="<%=asset_path('topic/biaoqian_r3_c1.jpg')%>"></a></h1>
  <h1><a href="#f4"><img src="<%=asset_path('topic/biaoqian_r4_c1.jpg')%>"></a></h1>
  <h1><a href="#f5"><img src="<%=asset_path('topic/biaoqian_r5_c1.jpg')%>"></a></h1>
</div>



<script>
  window.onload=function()
  {
    $("img.lazy").lazyload({effect:"fadeIn"});  
  }
</script>
</body>
</html>