<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>天禹星车辆移动监测系统</title>
<link href="css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<%=render "home/partial/top"%>
<%=render "home/partial/header"%>    
<div class="tyx_box">
  <div class="tyx01">
  	<img src="<%=asset_path('topic/tyx/tyx_r1_c2.jpg')%>" width="930" height="627" border="0" usemap="#Map" />
      <map name="Mapd" id="Map">
      	<area shape="rect" coords="189,517,343,571" href="#" />
      </map>
  </div>
  <div class="tyx02">
  	<img src="<%=asset_path('topic/tyx/tyx_r2_c2.jpg')%>" width="930" height="721" />
  </div>
  <div class="tyx01">
  	<img src="<%=asset_path('topic/tyx/tyx_r3_c2.jpg')%>" width="930" height="545" />
  </div>
  <div class="tyx02">
  	<img src="<%=asset_path('topic/tyx/tyx_r4_c2.jpg')%>" width="930" height="652" />
  </div>
  <div class="tyx01">
  	<img src="<%=asset_path('topic/tyx/tyx_r6_c2.jpg')%>" width="930" height="474" />
  </div>
  <div class="tyx02">
  	<img src="<%=asset_path('topic/tyx/tyx_r7_c2.jpg')%>" width="930" height="469" border="0" usemap="#Map2" />
      <map name="Map2" id="Map2">
      	<area shape="rect" coords="569,182,719,232" href="#" />
      	<area shape="rect" coords="770,182,919,232" href="#" />
      </map>
  </div>
  <div class="tyx01">
  	<img src="<%=asset_path('topic/tyx/tyx_r8_c2.jpg')%>" width="930" height="469" />
  </div>
</div>
</body>
</html>