<%=render "home/partial/nav"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>享车网汽车养护卡</title>

</head>

<body>
<div class="yanghuka_box">
  <div class="yanghuka01"><img src="<%=asset_path('test/yhk168.jpg')%>" width="1200" height="450" border="0" usemap="#Map" />
<map name="Map" id="Map"><area shape="rect" coords="159,326,385,403" target="_blank" href="http://www.ixiangche.com/?id=0065&type=mall" /></map></div>
  <div class="yanghuka01"><img src="<%=asset_path('test/yhk168_2.jpg')%>" width="1200" height="450" border="0" /></div>
  <div class="yanghukabj">
    <h1><img src="<%=asset_path('test/yhkpic_r1_c1.jpg')%>" /></h1>
    <h2><img src="<%=asset_path('test/yanghuka_r5_c2.jpg')%>" /></h2>
  </div>
  <div class="yanghuka02"><img src="<%=asset_path('test/yhkpic_r4_c1.jpg')%>" /></div>
  <div class="yanghuka03">
    <div id="card_pic_right">
    <div id="card_table_top"><img src="<%=asset_path('test/pic_r6_c5_s1.jpg')%>" width="656" height="143"></div>
    <div id="card_table">
  <table width="656" border="0" align="left" cellpadding="0" cellspacing="4" bgcolor="#FFFFFF">
      <tr>
        <td width="135" rowspan="3" align="center" valign="middle" bgcolor="#F0F0F0" class="table_bold14"><a href="http://www.ixiangche.com/frontend/vendors" target="_blank">高新区</a></td>
        <td width="157" height="30" align="center" valign="middle" bgcolor="#BFE2CA" class="table_14"><a href="http://www.ixiangche.com/frontend/vendors/3" target="_blank">兰鹰汽修高新店</a></td>
        <td width="87" height="30" align="center" valign="middle" bgcolor="#BFE2CA">40</td>
        <td width="81" height="30" align="center" valign="middle" bgcolor="#BFE2CA">30</td>
        <td width="172" rowspan="41" align="center" valign="middle" background="<%=asset_path('test/pic_r8_c6_s1.jpg')%>"><img src="<%=asset_path('test/pic_r10_c6_s1.jpg')%>" width="159" height="237"><br>
          <span class="table_14">1.每次仅限选择一家车行<br>
          2.每月仅限洗车一次，不<br>
可提前</span></td>
      </tr>
      <tr>
        <td width="157" height="30" align="center" valign="middle" bgcolor="#F5EED6" class="table_14"><a href="http://www.ixiangche.com/frontend/vendors/14" target="_blank">卡尊汽修</a></td>
        <td width="87" height="30" align="center" valign="middle" bgcolor="#F5EED6">40</td>
        <td width="81" height="30" align="center" valign="middle" bgcolor="#F5EED6">30</td>
      </tr>
      <tr>
        <td width="157" height="30" align="center" valign="middle" bgcolor="#BFE2CA" class="table_14"><a href="http://www.ixiangche.com/frontend/vendors/15" target="_blank">盛合养车行</a></td>
        <td width="87" height="30" align="center" valign="middle" bgcolor="#BFE2CA">40</td>
        <td width="81" height="30" align="center" valign="middle" bgcolor="#BFE2CA">30</td>
      </tr>
      <tr>
        <td width="135" rowspan="2" align="center" valign="middle" bgcolor="#F0F0F0" class="table_bold14"><a href="http://www.ixiangche.com/frontend/vendors" target="_blank">电子城</a></td>
        <td width="157" height="30" align="center" valign="middle" bgcolor="#F5EED6" class="table_14"><a href="http://www.ixiangche.com/frontend/vendors/5" target="_blank">轟记车行</a></td>
        <td width="87" height="30" align="center" valign="middle" bgcolor="#F5EED6">40</td>
        <td width="81" height="30" align="center" valign="middle" bgcolor="#F5EED6">30</td>
      </tr>
      <tr>
        <td width="157" height="30" align="center" valign="middle" bgcolor="#BFE2CA" class="table_14"><a href="http://www.ixiangche.com/frontend/vendors/21" target="_blank">鸿海汽修</a></td>
        <td width="87" height="30" align="center" valign="middle" bgcolor="#BFE2CA">40</td>
        <td width="81" height="30" align="center" valign="middle" bgcolor="#BFE2CA">25</td>
      </tr>
      <tr>
        <td width="135" rowspan="4" align="center" valign="middle" bgcolor="#F0F0F0" class="table_bold14"><a href="http://www.ixiangche.com/frontend/vendors" target="_blank">城　南</a></td>
        <td width="157" height="30" align="center" valign="middle" bgcolor="#F5EED6" class="table_14"><a href="http://www.ixiangche.com/frontend/vendors/1" target="_blank">达润汽修</a></td>
        <td width="87" height="30" align="center" valign="middle" bgcolor="#F5EED6">40</td>
        <td width="81" height="30" align="center" valign="middle" bgcolor="#F5EED6">30</td>
      </tr>
      <tr>
        <td width="157" height="30" align="center" valign="middle" bgcolor="#BFE2CA" class="table_14"><a href="http://www.ixiangche.com/frontend/vendors/7" target="_blank">威航光华路店</a></td>
        <td width="87" height="30" align="center" valign="middle" bgcolor="#BFE2CA">40</td>
        <td width="81" height="30" align="center" valign="middle" bgcolor="#BFE2CA">40</td>
      </tr>
      <tr>
        <td width="157" height="30" align="center" valign="middle" bgcolor="#F5EED6" class="table_14"><a href="http://www.ixiangche.com/frontend/vendors/8" target="_blank">威航曲江店</a></td>
        <td width="87" height="30" align="center" valign="middle" bgcolor="#F5EED6">40</td>
        <td width="81" height="30" align="center" valign="middle" bgcolor="#F5EED6">30</td>
      </tr>
      <tr>
        <td width="157" height="30" align="center" valign="middle" bgcolor="#BFE2CA" class="table_14"><a href="http://www.ixiangche.com/frontend/vendors/17" target="_blank">骏达汽修</a></td>
        <td width="87" height="30" align="center" valign="middle" bgcolor="#BFE2CA">40</td>
        <td width="81" height="30" align="center" valign="middle" bgcolor="#BFE2CA">25</td>
      </tr>
      <tr>
        <td width="135" rowspan="5" align="center" valign="middle" bgcolor="#F0F0F0" class="table_bold14"><a href="http://www.ixiangche.com/frontend/vendors" target="_blank">城　东</a></td>
        <td width="157" height="30" align="center" valign="middle" bgcolor="#F5EED6" class="table_14"><a href="http://www.ixiangche.com/frontend/vendors/6" target="_blank">星源汽修</a></td>
        <td width="87" height="30" align="center" valign="middle" bgcolor="#F5EED6">40</td>
        <td width="81" height="30" align="center" valign="middle" bgcolor="#F5EED6">20</td>
      </tr>
      <tr>
        <td width="157" height="30" align="center" valign="middle" bgcolor="#BFE2CA" class="table_14"><a href="http://www.ixiangche.com/frontend/vendors/11" target="_blank">鸿海幸福南路店</a></td>
        <td width="87" height="30" align="center" valign="middle" bgcolor="#BFE2CA">40</td>
        <td width="81" height="30" align="center" valign="middle" bgcolor="#BFE2CA">25</td>
      </tr>
      <tr>
        <td width="157" height="30" align="center" valign="middle" bgcolor="#F5EED6" class="table_14"><a href="http://www.ixiangche.com/frontend/vendors/18" target="_blank">车之翼公园北路店</a></td>
        <td width="87" height="30" align="center" valign="middle" bgcolor="#F5EED6">40</td>
        <td width="81" height="30" align="center" valign="middle" bgcolor="#F5EED6">30</td>
      </tr>
      <tr>
        <td width="157" height="30" align="center" valign="middle" bgcolor="#BFE2CA" class="table_14"><a href="http://www.ixiangche.com/frontend/vendors/22" target="_blank">极致动力汽车会所</a></td>
        <td width="87" height="30" align="center" valign="middle" bgcolor="#BFE2CA">40</td>
        <td width="81" height="30" align="center" valign="middle" bgcolor="#BFE2CA">30</td>
      </tr>
      <tr>
        <td width="157" height="30" align="center" valign="middle" bgcolor="#F5EED6" class="table_14"><a href="http://www.ixiangche.com/frontend/vendors/23" target="_blank">车爵仕长乐坊店</a></td>
        <td width="87" height="30" align="center" valign="middle" bgcolor="#F5EED6">40</td>
        <td width="81" height="30" align="center" valign="middle" bgcolor="#F5EED6">30</td>
      </tr>
      <tr>
        <td width="135" rowspan="4" align="center" valign="middle" bgcolor="#F0F0F0" class="table_bold14"><a href="http://www.ixiangche.com/frontend/vendors" target="_blank">城　北</a></td>
        <td width="157" height="30" align="center" valign="middle" bgcolor="#BFE2CA" class="table_14"><a href="http://www.ixiangche.com/frontend/vendors/12" target="_blank">人合车汽修</a></td>
        <td width="87" height="30" align="center" valign="middle" bgcolor="#BFE2CA">40</td>
        <td width="81" height="30" align="center" valign="middle" bgcolor="#BFE2CA">30</td>
      </tr>
      <tr>
        <td width="157" height="30" align="center" valign="middle" bgcolor="#F5EED6" class="table_14"><a href="http://www.ixiangche.com/frontend/vendors/9" target="_blank">威航太华路店</a></td>
        <td width="87" height="30" align="center" valign="middle" bgcolor="#F5EED6">40</td>
        <td width="81" height="30" align="center" valign="middle" bgcolor="#F5EED6">25</td>
      </tr>
      <tr>
        <td width="157" height="30" align="center" valign="middle" bgcolor="#BFE2CA" class="table_14"><a href="http://www.ixiangche.com/frontend/vendors/4" target="_blank">车能靓汽车养护会所</a></td>
        <td width="87" height="30" align="center" valign="middle" bgcolor="#BFE2CA">40</td>
        <td width="81" height="30" align="center" valign="middle" bgcolor="#BFE2CA">25</td>
      </tr>
      <tr>
        <td width="157" height="30" align="center" valign="middle" bgcolor="#F5EED6" class="table_14"><a href="http://www.ixiangche.com/frontend/vendors/24" target="_blank">锦轮汽修</a></td>
        <td width="87" height="30" align="center" valign="middle" bgcolor="#F5EED6">30</td>
        <td width="81" height="30" align="center" valign="middle" bgcolor="#F5EED6">25</td>
      </tr>
      <tr>
        <td width="135" rowspan="2" align="center" valign="middle" bgcolor="#F0F0F0" class="table_bold14"><a href="http://www.ixiangche.com/frontend/vendors" target="_blank">城　西</a></td>
        <td width="157" height="30" align="center" valign="middle" bgcolor="#BFE2CA" class="table_14"><a href="http://www.ixiangche.com/frontend/vendors/3" target="_blank">兰鹰汽修枣园店</a></td>
        <td width="87" height="30" align="center" valign="middle" bgcolor="#BFE2CA">40</td>
        <td width="81" height="30" align="center" valign="middle" bgcolor="#BFE2CA">25</td>
      </tr>
      <tr>
        <td width="157" height="30" align="center" valign="middle" bgcolor="#F5EED6" class="table_14"><a href="http://www.ixiangche.com/frontend/vendors/16" target="_blank">卡宾达汽修</a></td>
        <td width="87" height="30" align="center" valign="middle" bgcolor="#F5EED6">40</td>
        <td width="81" height="30" align="center" valign="middle" bgcolor="#F5EED6">35</td>
      </tr>
      
      <tr>
        <td rowspan="2" align="center" valign="middle" bgcolor="#F0F0F0" class="table_bold14"><a href="http://www.ixiangche.com/frontend/vendors" target="_blank">城　中</a></td>
        <td height="30" align="center" valign="middle" bgcolor="#BFE2CA" class="table_14"><a href="http://ixiangche.com/frontend/vendors/10" target="_blank">车来车往北马道店</a></td>
        <td height="30" align="center" valign="middle" bgcolor="#BFE2CA">40</td>
        <td height="30" align="center" valign="middle" bgcolor="#BFE2CA">30</td>
      </tr>
      <tr>
        <td height="30" align="center" valign="middle" bgcolor="#F5EED6" class="table_14"><a href="http://ixiangche.com/frontend/vendors/19" target="_blank">车来车往南马道店</a></td>
        <td height="30" align="center" valign="middle" bgcolor="#F5EED6">40</td>
        <td height="30" align="center" valign="middle" bgcolor="#F5EED6">30</td>
      </tr>
    </table>
  </div>   
  </div>
  </div>
    <div class="yanghukabj">
    <h1><img src="<%=asset_path('test/yhkpic_r1_c1.jpg')%>" /></h1>
    <h2><img src="<%=asset_path('test/yanghuka_r7_c2.jpg')%>" /></h2>
  </div>
  <div class="yanghuka02"><img src="<%=asset_path('test/yhkpic_r4_c1.jpg')%>" /></div>
  <div class="yanghuka04"><img src="<%=asset_path('test/yanghuka_r9_c6.jpg')%>" width="1200" height="245" /></div>
  <div class="yanghukabj">
    <h1><img src="<%=asset_path('test/yhkpic_r1_c1.jpg')%>" /></h1>
    <h2><img src="<%=asset_path('test/yanghuka_r12_c2.jpg')%>" height="331" /></h2>
  </div>
</div>
</body>
</html>