=render "home/partial/nav"
.wrap
  .part_01
    =render "home/partial/categories"
    .shop_ad{:style=>"margin-left:10px;"}
      .shop_adbox
        %ul.shop_adpic
          -@homepage_sliders.each do |slider|
            %li
              %a{:href=>"#{slider.text2}"}
                %img{:src=> "#{slider.img_url}" ,:alt=>'pic'}
        %a.prev{:href=>"javascript:void(0)", :style=>"background-image: url('"+asset_path("test/btn.png")+"');"}
        %a.next{:href=>"javascript:void(0)", :style=>"background-image: url('"+asset_path("test/btn.png")+"');"}
        .num
          %ul
    .shop_tuijian
      .shop_activities
        %h3{:style=>"background-image: url('"+asset_path("test/Index_BodyBG.gif")+"');"}
        %h4
          - @slider=@homepage_slider_right[0] if @homepage_slider_right[0]
          %a{:href=>"#{@slider.text2} "}
            %img{ :src=> "#{@slider.img_url}", :width=>"202", :height=>"88", :border=>"0"  ,:alt=>'pic'}
        %h5
          %ul
            -@homepage_slider_right_links.each do |link|
              %li
                ·&nbsp;
                %a{:href=>"#{link.text2}"}
                  =link.title
      .shop_news
        %h3{:style=>"background-image: url('"+asset_path("test/Index_BodyBG.gif")+"');"}
        %h4
          - @slider=@homepage_slider_right[1] if @homepage_slider_right[1]
          %a{:href=>"#{@slider.text2}"}
            %img{ :src=> "#{@slider.img_url}", :width=>"202", :height=>"88", :border=>"0"  ,:alt=>'pic'}
    .clear
  .clear

  .h_ad{:style=>" padding-top:10px;"}
    %a{:href=>@card_area.text2 }
      %img{ :src=>@card_area.img_url, :width=>"980", :height=>"60", :border=>"0"  ,:alt=>'pic'}

  .part_02
    .division
      #swap_pic
        #prev.scroll{:style=>"background-image: url('"+asset_path("test/Index_BodyBG.gif")+"');"}
        .box
          %ul#pics.pics( style=" left:5px;")
            -@homepage_recommends.each_slice(3) do |rec|
              %li
                %p
                  %a{:href=>"#{rec[0].text2}"}
                    %img{:src=>"#{rec[0].img_url}",:alt=>"pic",:style=>"width:295px; height:100px;"}
                %p
                  %a{:href=>"#{rec[1].text2}"}
                    %img{:src=>"#{rec[1].img_url}",:alt=>"pic",:style=>"width:295px; height:100px;"}
                %p
                  %a{:href=>"#{rec[2].text2}"}
                    %img{:src=>"#{rec[2].img_url}",:alt=>"pic",:style=>"width:295px; height:100px;"}
        #next.scroll{:style=>"background-image: url('"+asset_path("test/Index_BodyBG.gif")+"');"}

  .part_03
    .hot_tui
      .part03line{:style=>"background-image: url('"+asset_path("test/LineBG.jpg")+"'); background-repeat:repeat-x;"}
        %h3.part_03hd.Bule
          %b 热门商品推荐
        =render 'home/partial/index_hot_product_rec'
  .part_03
    .hot_tui
      .part03line{:style=>"background-image: url('"+asset_path("test/LineBG.jpg")+"'); background-repeat:repeat-x;"}
        %h3.part_03hd.Red
          %b 新品推荐
        =render 'home/partial/index_new_product_rec'

  .part_03
    .cars_tui
      .part03line{:style=>"background-image: url('"+asset_path("test/LineBG.jpg")+"'); background-repeat:repeat-x;"}
        %h3.part_03hd.Gold
          %b 推荐车行
        =render 'home/partial/index_vendor_rec'
  .h_ad{:style=>" padding-top:10px;"}
    - if @adv_area
      %a{:href=> @adv_area.text2}
        %img{ :src=> asset_path("test/img-06.jpg"), :width=>"960", :height=>"100", :border=>"0"  ,:alt=>'pic'}
    -else
      %img{:width=>"960", :height=>"100", :border=>"0",:alt=>'pic', :src=> asset_path("test/img-06.jpg")}
  =render 'home/partial/bottom'

  :javascript
          $(".shop_adbox").hover(function(){
            $(this).find(".prev,.next").fadeTo("show",0.1);
            },function(){
              $(this).find(".prev,.next").hide();
              }
          )
            /*鼠标移过某个按钮 高亮显示*/
        $(".prev,.next").hover(function(){
          $(this).fadeTo("show",0.7);
          },function(){
            $(this).fadeTo("show",0.1);
            }
        )

        $(".shop_adbox").slide({ titCell:".num ul" , mainCell:".shop_adpic" , effect:"fold", autoPlay:true, delayTime:700 , autoPage:true });

        (function(){
          var vari={
            width:885,
            pics:document.getElementById("pics"),
            prev:document.getElementById("prev"),
            next:document.getElementById("next"),
            len:document.getElementById("pics").getElementsByTagName("li").length,
            intro:document.getElementById("pics").getElementsByTagName("p"),
            now:1,
            step:5,
            dir:null,
            span:null,
            span2:null,
            begin:null,
            begin2:null,
            end2:null,
            move:function(){
              if(parseInt(vari.pics.style.left,10)>vari.dir*vari.now*vari.width&&vari.dir==-1){
                vari.step=(vari.step<2)?1:(parseInt(vari.pics.style.left,10)-vari.dir*vari.now*vari.width)/5;
                vari.pics.style.left=parseInt(vari.pics.style.left,10)+vari.dir*vari.step+"px";
              }
              else if(parseInt(vari.pics.style.left,10)<-vari.dir*(vari.now-2)*vari.width&&vari.dir==1){
              vari.step=(vari.step<2)?1:(-vari.dir*(vari.now-2)*vari.width-parseInt(vari.pics.style.left,10))/5;
              vari.pics.style.left=parseInt(vari.pics.style.left,10)+vari.dir*vari.step+"px";
              }
              else{
                vari.now=vari.now-vari.dir;
                clearInterval(vari.begin);
                vari.begin=null;
                vari.step=5;
                vari.width=885;
              }
              },
            scr:function(){
              if(parseInt(vari.span.style.top,10)>-31){
                vari.span.style.top=parseInt(vari.span.style.top,10)-5+"px";
              }
              else{
                clearInterval(vari.begin2);
                vari.begin2=null;
              }
              },
                stp:function(){
                  if(parseInt(vari.span2.style.top,10)<0){
                  vari.span2.style.top=parseInt(vari.span2.style.top,10)+10+"px";
                  }
                  else{
                    clearInterval(vari.end2);
                    vari.end2=null;
                    }
                  }
                };
                vari.prev.onclick=function(){
                  if(!vari.begin&&vari.now!=1){
                  vari.dir=1;
                  vari.begin=setInterval(vari.move,20);
                  }
                  else if(!vari.begin&&vari.now==1){
                    vari.dir=-1
                    vari.width*=vari.len-1;
                    vari.begin=setInterval(vari.move,20);
                    };
                  };
                  vari.next.onclick=function(){
                    if(!vari.begin&&vari.now!=vari.len){
                      vari.dir=-1;
                       vari.begin=setInterval(vari.move,20);
                    }
                    else if(!vari.begin&&vari.now==vari.len){
                      vari.dir=1
                      vari.width*=vari.len-1;
                      vari.begin=setInterval(vari.move,20);
                      };
                    };
                  for(var i=0;i<vari.intro.length;i++){
                    vari.intro[i].onmouseover=function(){
                    vari.span=this.getElementsByTagName("span")[0];
                    vari.span.style.top=0+"px";
                    if(vari.begin2){clearInterval(vari.begin2);}
                    vari.begin2=setInterval(vari.scr,20);
                    };
                    vari.intro[i].onmouseout=function(){
                    vari.span2=this.getElementsByTagName("span")[0];
                    if(vari.begin2){clearInterval(vari.begin2);}
                      if(vari.end2){clearInterval(vari.end2);}
                        vari.end2=setInterval(vari.stp,5);
                      };
                    }
                })();
