=render "home/partial/nav"
.wrap
  .part_01
    =render "home/partial/categories"
    =render "home/partial/homepage_sliders"
    .shop_tuijian
      .shop_activities
        %h3
        %h4
          - @slider=@homepage_slider_right[0] if @homepage_slider_right[0]
          %a{:href=>"#{@slider.text2} "}
            %img{ :src=> "#{@slider.img_url}", :width=>"202", :height=>"88", :border=>"0"  ,:alt=>'pic'}
        %h5
          %ul
            -@homepage_slider_right_links.each do |link|
              %li
                ·&nbsp;
                %a{:href=>"#{link.text2}"}
                  =link.title
                %br
      .shop_news
        %h4
          - @slider=@homepage_slider_right[1] if @homepage_slider_right[1]
          %a{:href=>"#{@slider.text2}"}
            %img{ :src=> "#{@slider.img_url}", :width=>"202", :height=>"88", :border=>"0"  ,:alt=>'pic'}
    .clear
  .clear

  .h_ad{:style=>" padding-top:10px;"}
    %a{:href=>@card_area.text2 }
      %img{ :src=>@card_area.img_url, :width=>"980", :height=>"60", :border=>"0"  ,:alt=>'pic'}

  .part_02
    .division
      #swap_pic
        #prev.scroll{:style=>"background-image: url('"+asset_path("test/Index_BodyBG111.gif")+"');"}
        .box
          %ul#pics.pics( style=" left:5px;")
            -@homepage_recommends.each_slice(3) do |rec|
              %li
                %p
                  %a{:href=>"#{rec[0].text2}"}
                    %img{:src=>"#{rec[0].img_url}",:alt=>"pic",:style=>"width:295px; height:100px;"}
                %p
                  %a{:href=>"#{rec[1].text2}"}
                    %img{:src=>"#{rec[1].img_url}",:alt=>"pic",:style=>"width:295px; height:100px;"}
                %p
                  %a{:href=>"#{rec[2].text2}"}
                    %img{:src=>"#{rec[2].img_url}",:alt=>"pic",:style=>"width:295px; height:100px;"}
        #next.scroll{:style=>"background-image: url('"+asset_path("test/Index_BodyBG111.gif")+"');"}

  .part_03
    .hot_tui
      .part03line{:style=>"background-image: url('"+asset_path("test/LineBG.jpg")+"'); background-repeat:repeat-x;"}
        %h3.part_03hd.Bule
          %b 热门商品推荐
        =render 'home/partial/index_hot_product_rec'
  .part_03
    .hot_tui
      .part03line{:style=>"background-image: url('"+asset_path("test/LineBG.jpg")+"'); background-repeat:repeat-x;"}
        %h3.part_03hd.Red
          %b 新品推荐
        =render 'home/partial/index_new_product_rec'

  .part_03
    .cars_tui
      .part03line{:style=>"background-image: url('"+asset_path("test/LineBG.jpg")+"'); background-repeat:repeat-x;"}
      %h3.part_03hd.Gold
        %b 推荐车行
      =render 'home/partial/index_vendor_rec'
  .h_ad{:style=>" padding-top:10px;"}
    %a{:href=> @adv_area.text2}
      %img{ :src=> @adv_area.img_url , :width=>"980", :height=>"60", :border=>"0"  ,:alt=>'pic'}
  =render 'home/partial/bottom'



