%script{:language=>"javascript",:type=>"text/javascript",:src=>"/My97DatePicker/WdatePicker.js"}
=render "home/partial/nav"
.cart_box
  .shopping_cart_title
    = drop_bread_crumb
  .shopping_step2{:style=> "background-image: url('"+asset_path("test/shopping_cart_r2_c3.jpg")+"');"}
    %ul
      %li.shopping_stepwz14 1.我的购物车
      %li.shopping_stepwz16 2.核对订单信息
      %li.shopping_stepwz14 3.提交订单获取兑换码
      %li.shopping_stepwz14 4.使用兑换码到车行消费
  .step_one_title 填写并核对订单信息
  .order_information
    %h1
      %span.shopping_black14 您的个人信息：
      %span.Red 个人信息保存后无法修改，请确认无误后再提交
    .input_name_and_phone_area
      %h2
        %span.Red *
        您的姓名：
      %h3
        %label
          %input#textfield_name(name="textfield" type="text" size="10" style="border: 1px solid rgb(131,131,131);" )
      %h2
        %span.Red *
        手机号码：
      %h3
        %label
          %input#textfield_phone(name="textfield" type="text" size="15" style="border: 1px solid rgb(131,131,131);" )
      %h4
        %a
          %img#input_name_and_phone{:src=>asset_path("test/shopping_cart_r9_c11.jpg")}
    .order_info_details{:style=>"display:none;"}
      姓名：
      %font.input_name
      %img{:src=>asset_path("test/shopping_cart_r11_c7.jpg") ,:width=>"11", :height=>"8",:style=>" margin-right:20px;"}
      手机号码：
      %font.input_phone
      %img{:src=>asset_path("test/shopping_cart_r11_c7.jpg") ,:width=>"11", :height=>"8"}
    .line
    %h1
      %span.shopping_black14 您的车辆信息：
      %span.Red 选填项
    .car_select_area
      %h2 车辆品牌：
      %h3
        %label
          = select_tag "car_brand_branch", options_for_select([['品牌', -1]])
      %h2 车型：
      %h3
        %label
          = select_tag "car_set_branch", options_for_select([['车系', -1]])
      %h2 车系：
      %h3
        = select_tag "car_model_id", options_for_select([['车型', -1]])
      %h4
        %a
          %img.select_car_info{:src=> asset_path("test/shopping_cart_r9_c12.jpg"),:style=>"margin-bottom:10px;"}
    .order_info_details.order_info_details_1{:style=>"display:none"}
      车辆品牌：
      %font.input_text_1
      %img{:src=>asset_path("test/shopping_cart_r11_c7.jpg") ,:width=>"11", :height=>"8",:style=>"margin-right:15px;"}
      &nbsp&nbsp&nbsp&nbsp&nbsp车型：
      %font.input_text_2
      %img{:src=>asset_path("test/shopping_cart_r11_c7.jpg") ,:width=>"11", :height=>"8",:style=>"margin-right:15px;"}
      &nbsp&nbsp&nbsp&nbsp&nbsp车系：
      %font.input_text_3
      %img{:src=>asset_path("test/shopping_cart_r11_c7.jpg") ,:width=>"11", :height=>"8",:style=>"margin-right:15px;"}
  .order_use
    %h1
      购买后如何使用：
      %img{:src=>asset_path("test/shopping_cart_r10_c9.jpg"), :width=>"13", :height=>"13"}
      享车网客服电话：029-81543924
    %h2
      成功购买后，即可直接到所购买车行前台处，报出手机号，进行消费。无需预约！（注意：个别产品需预约，请在购买前阅读产品说明！）
  .step_one_title 购物车清单
  .step_one_goods
    %table(width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF")
      %tr
        %td(height="30" colspan="2" align="center" bgcolor="#F7F7F7") 商品清单
        %td(width="8%" height="30" align="center" bgcolor="#F7F7F7") 享车价
        %td(width="5%" height="30" align="center" bgcolor="#F7F7F7") 数量
        %td(width="9%" height="30" align="center" bgcolor="#F7F7F7") 库存
        %td(width="7%" height="30" align="center" bgcolor="#F7F7F7") 金额
        %td(width="24%" align="center" bgcolor="#F7F7F7") 操作
      -count=0
      %tr
        %td( width="90" height="90" align="center" valign="middle" bgcolor="#FFFFFF")
          .good_pic
            %img{:src=>@good.logo_url1,:width=>"50", :height=>"50"}
        %td( height="90" align="left" valign="middle" bgcolor="#FFFFFF")
          .shopping_good_name
            %a.good_name_wz{:href=> good_path(@good.id) }
              =@good.title
        %td(height="90" align="center" valign="middle" bgcolor="#FFFFFF")
          =current_customer.get_price(@good_sku)
        %td(height="90" align="center" valign="middle" bgcolor="#FFFFFF")
          =@good_quantity
        %td(height="90" align="center" valign="middle" bgcolor="#FFFFFF")
          =@good_sku.mall_inventory.inventory_qty
        %td.good_total_wz14(height="90" align="center" valign="middle" bgcolor="#FFFFFF")
          ￥
          =@good_quantity*current_customer.get_price( @good_sku)
        %td.order_time(align="center" style="display:none;")
          尚未预约
        %td.good_total_wz14(height="90" align="center" valign="middle" bgcolor="#FFFFFF")
          %table( border="0" cellspacing="3" cellpadding="0")
            -if @good_quantity
              - @good_quantity.times do
                %tr
                  %td
                    %a.choose_order_time{:id=>"choose_order_time_#{count}"}
                    %a.order_button_111{:value=> count,:style=>"cursor:pointer;color:blue;",:src=>asset_path("test/yuyue.jpg"),:width=>"86px",:height=>"23px",:onClick=>"WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',el:$dp.$('choose_order_time_#{count}'),onpicked:function(){update_order_time(#{count})}})"}
                      %img.img_link_area{:src=>asset_path("test/yuyuefuwu.jpg"), :width=>"86", :height=>"23", :border=>"0"}
                      %font.edit_link_area{:style=>"display:none;", :width=>"86", :height=>"23"}   修改
                    -count= count+1

      /%tr
      /  %td(height="50" colspan="10" align="center" valign="middle" bgcolor="#F7F7F7")
      /    %table(width="100%" border="0" cellspacing="5" cellpadding="0")
      /      %tr
      /        %td(width="82%" align="right") &nbsp;
      /        %td(width="7%" align="center") 总计
      /        %td.shopping_totalwz20(width="11%") ￥350.00
  .cart_submit
    %a
      =form_tag('/customers/buy_now', method: :GET ) do
        %input#selected_ids{:type=>"hidden",:name=>"selected_ids",:value=>"#{@cart_ids}"}
        %input#selected_times{:type=>"hidden",:name=>"selected_times"}
        %input#selected_name{:type=>"hidden",:name=>"input_name"}
        %input#selected_phone{:type=>"hidden",:name=>"input_phone"}
        %input#selected_car{:type=>"hidden",:name=>"input_car"}
        %input#input_quantity{:type=>"hidden",:name=>"input_quantity",:value=> @good_quantity}
        %input#input_mall_sku{:type=>"hidden",:name=>"input_mall_sku",:value=> @good_sku.id}
        =submit_tag '', :title=>"去购物结算", :style=>" background-image: url('"+asset_path("test/shopping_cart_r9_c5.jpg")+"'); width:135px; height:36px;",:id=>"continue_shopcar", :target=>"_blank",:disabled=>"disabled"
  .clear
  .order_date_pick_area.right
    %input.order_date_pick
    %input#hidden_order_key{:type=>"hidden"}
%div{:id=>"time_div",:align=>"center",:style=>"position:absolute;left:0px;top:0px; width:100%;height:2300px;background-color:black;filter:alpha(opacity=85);-moz-opacity:0.85;-khtml-opacity: 0.85; opacity: 0.85;display:none"}
%div{:id=>"time_input",:style=>"position:absolute;top:400px;left:32%;background-color:#ffffff;width:450px;height:150px;filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);-moz-box-shadow: 5px 5px 10px #000000;-webkit-box-shadow: 5px 5px 10px #000000;box-shadow:5px 5px 10px #000000;display:none"}
  %div{:style=>"background-color:#5d83b3;height:25px;padding:3px;",:align=>"left"}   
    %font{:id=>"time_font",:color=>"#ffffff",:style=>"font-size:16px;"} &nbsp;&nbsp;预约时间
    %a{:style=>"cursor:pointer;float:right;margin-right:5px;font-size:16px;color:#ffffff",:onclick=>"close_time();"} x   
  %div{:style=>"margin-left:0px"}
    %br
      %font{:style=>"font-size:14px"} 预约时间：
      %input{:class=>"Wdate",:id=>"time",:type=>"text",:onClick=>"WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"}
    %br 
      %a{:type=>"button",:value=>"确  定",:class=>"good_name_wz",:style=>"font-size:14px;cursor:pointer",:onclick=>"update_order_time();"}确  定
      %a{:type=>"button",:value=>"取  消",:class=>"good_name_wz",:style=>"margin-left:50px;font-size:14px;cursor:pointer",:onclick=>"close_time();"}取  消
      %input{:type=>"hidden",:id=>"h_id"}


  :javascript
    function update_order_time( id){
    var obj = $('.choose_order_time').eq(id).val(); 
    $(".edit_link_area").eq(id).css("display","inline");
    $(".img_link_area").eq(id).css("display","none");
    var times_list= new Array();
    $(".choose_order_time").each(function(){
      times_list.push($(this).text());
    });
    $("#selected_times").attr("value", times_list);
    var requestUrl= "/customers/set_order_time_list";
    var data= times_list;
    $.ajax({
      url: requestUrl,
      data: "time_list="+data,
      contentType: "application/json; charset=utf-8;",
      dataType:"json",
      success: function(json){
      }
    });
    }
    $(".select_car_info").click(function(){
      var car_model_id= $("#car_model_id").val();
      var name_1= $("#car_brand_branch option:selected").text();
      var name_2= $("#car_set_branch option:selected").text();
      var name_3= $("#car_model_id option:selected").text();
      var name_4= $("#textfield_plate_number").val();

      $(".input_text_1").text(name_1);
      $(".input_text_2").text(name_2);
      $(".input_text_3").text(name_3);
      $(".input_text_4").text(name_4);

      $(".car_select_area").css("display","none");
      $(".car_plate_number").css("display","none");
      $(".order_info_details_1").css("display","block");

      $("#selected_car").attr("value",car_model_id);

    });

    function show_time(id)
    {
    $("#h_time_"+id).trigger("click");
    //$("#time").val("");

    //$("#h_id").val(id);

    //$("#time_input").css("top",$(document).scrollTop()+150+"px");
    //$("#time_div").show();
    //$("#time_input").show();
    }

    function close_time()
    {
    $("#time_div").hide();
    $("#time_input").hide();
    }

    $(".select_car_info").click(function(){
      var car_model_id= $("#car_model_id").val();
      var name_1= $("#car_brand_branch option:selected").text();
      var name_2= $("#car_set_branch option:selected").text();
      var name_3= $("#car_model_id option:selected").text();

      $(".input_text_1").text(name_1);
      $(".input_text_2").text(name_2);
      $(".input_text_3").text(name_3);

      $(".car_select_area").css("display","none");
      $(".order_info_details_1").css("display","block");

      $("#selected_car").attr("value",car_model_id);

    });

    $("#input_name_and_phone").click(function(){
      var name= $("#textfield_name").val();
      var phone= $("#textfield_phone").val();

      if( name=="" || name== null || name == " "){
        alert("请输入姓名！");
        return;
      }

      isNum = /\d{11}/;
      if( phone.length != 11){
        alert("请输入正确长度手机号码！")
        return;
      }
      if("false" == (isNum.test( phone).toString())){
        alert("请输入正确手机号码！");
        return;
      }

      $(".input_name_and_phone_area").css("display","none");
      $(".order_info_details:first").css("display","block");
      $(".input_name").text(name);
      $(".input_phone").text(phone);

      $("#selected_name").attr("value", name);
      $("#selected_phone").attr("value", phone);

      $("#continue_shopcar").attr("disabled",false);
    });

    $(".order_date_pick").datetimepicker();

    $(".order_button").click(function(){
      $(".order_date_pick_area").dialog("open");
      $("#hidden_order_key").attr("value", $(this).attr("value") );
    });

    $(function(){
      $(".order_date_pick_area").dialog({
        autoOpen: false,
        height:200,
        modal: true,
        buttons:{
          取消: function(){
            $(this).dialog("close");
          },
          确定: function(){
            $(this).dialog("close");
            var time= $(".order_date_pick").val();
            var key= parseInt($("#hidden_order_key").attr("value"));

            var order_time= time;
            $(".order_button").eq(key).text("  修改");
            $(".choose_order_time").eq(key).text(order_time);

            var times_list= new Array();
            $(".choose_order_time").each(function(){
              times_list.push($(this).text());
            });
            $("#selected_times").attr("value", times_list);
            var requestUrl= "/customers/set_order_time_list";
            var data= times_list;
            $.ajax({
              url: requestUrl,
              data: "time_list="+data,
              contentType: "application/json; charset=utf-8;",
              dataType:"json",
              success: function(json){

              }

            });
          }
        }
      });
    });



