=render "home/partial/nav"
.header_position{:style=>"background-image: url('"+asset_path("test/goods_bodyBG.gif")+"');"}
  .postiton_txt.m
    = drop_bread_crumb
.wrap
  .main_goods_box
    .main_goods_img.left
      .main_goods_photo
        .label
          %img{:src=>"#{@good.logo_url1}", :width=>"290", :height=>"290", :border=>"0"}
        %h3
          %a.left
            %img{:src=>"#{@good.logo_url1}", :width=>"53", :height=>"53", :border=>"0" }
          %a.left
            %img{:src=>"#{@good.logo_url2}", :width=>"53", :height=>"53", :border=>"0" }
          %a.left
            %img{:src=>"#{@good.logo_url3}", :width=>"53", :height=>"53", :border=>"0" }
          %a.left
            %img{:src=>"#{@good.logo_url4}", :width=>"53", :height=>"53", :border=>"0" }
      %h4{:style=>"margin-top:-20px;margin-left:-20px;"}
        .main_info_ico
          %p.main_infoico01.left{:style=>"background-image: url('"+asset_path("test/brandBodyBG.gif")+"');"}
          %p.main_infoico02.left{:style=>"background-image: url('"+asset_path("test/brandBodyBG.gif")+"');"}
          %p.main_infoico03.left{:style=>"background-image: url('"+asset_path("test/brandBodyBG.gif")+"');"}
          %p.main_infoico05.left{:style=>"background-image: url('"+asset_path("test/brandBodyBG.gif")+"');"}
    .main_goods_operation.left
      %h1=@good.title
      %h2=@good.subhead
      %h3
        原价：
        %i.mall_good_show_price
          ￥
          =@good.mall_skus.first.show_price
        %span{:style=>"color:#94999A;"} (本商品原价)
      %h4
        商城价：
        %b.mall_good_customer_price
          ￥
          =@good.mall_skus.first.price
        %span{:style=>"color:#999999; font-size:14px;"} (仅注册会员价格)
      %h4
        会员价：
        %strong.mall_good_price
          ￥
          =@good.mall_skus.first.customer_price
        %span{:style=>"color:#999999; font-size:14px;"} (已激活会员价格)

      -@good_sku.each do |s|
        %h4
          .main_goods_type2{:value=> s.id,:style=>"font-size:14px;"}
            =s.desc if s
      %h5
        %table( width="600" border="0" cellspacing="5" cellpadding="0" align="center" bgcolor="white")
          %tr
            %td(  width="95" height="33") 购买数量：
            %td( style="margin-left:10px;")
              %button#button_decrease( width="10" height="20") -
            %td(  width="25")
              %input#quantity_input( type="text" name="quantity_textfield" value="1" style="width:55px;margin-left:-60px;")
            %td
              %button#button_increase( width="20" height="20" style="margin-left:-20px;") +
            %td
              库存仅剩
              %b.Red.mall_inventory=@good.mall_skus.first.mall_inventory.inventory_qty
              件
      %h6
        =form_tag('/customers/buy', method: :GET) do
          %input#input_hidden{:type=>"hidden",:name=>"input_hidden_name",:value=>1}
          %input#input_hidden_sku{:type=>"hidden",:name=>"good_sku", :value=>"#{@good.mall_skus.first.id}"}
          =submit_tag "",:style=>"background-image: url('"+asset_path("test/goods_bodyBG2.png")+"'); width:160px; height:33px; cursor:pointer;", :title=>"立即购买",:id=>"goods_buymenu"
        %a#goods_buycart{:href=>"", :title=>"加入购物车",:style=>" background-image: url('"+asset_path("test/goods_bodyBG2.png")+"'); width:160px; margin-left:200px; margin-top:-37px;"}
      %h7{:style=>"margin-top:-15px;"}
        服务说明：
        =@good.service_info
  .main_box
    .main_goods_L.left
      .main_goods_garage_map
        .main_goods_garage_title
          =@good.vendor.name
        .main_goods_garage_map_pic.map_content
          =render 'vendors/partial/vendor_map',locales:{:@vendor=>@good.vendor}

        %a#enter_the_shop{ :href=>"", :target=>"_blank", :title=>"进入店铺",:style=>" background-image: url('"+asset_path("test/good_shop1.png")+"');"}
        %li
          %strong 车行地址：
          =@good.vendor.address.street
        %li
          %strong 服务时间：
          %br
          周一到周五：
          =@good.vendor.opening_hours
          %br
          周六到周日：
          =@good.vendor.opening_hours
        %li
          %strong 服务项目：
          洗车、打蜡、常规保养
        %li
          %strong 技术顾问：
      .main_goods_class
        %h2 产品分类
        %h3
          维修保养
          %span.goods_class_reduction
        .main_goods_classcon
          %a 机油保养
          %a 机油保养
        %h3
          轮胎\轮毂
          %span.goods_class_plus
          .main_goods_classcon{:style=>"display:none"} 111
        %h3
          维修\改装
          %span.goods_class_plus
          .main_goods_classcon{:style=>"display:none"} 111

      =render "goods/partial/hot_goods"
    =render "goods/partial/good_info"

    .clear
  .clear
  .h_ad{:style=>"padding-top:10px;"}
    %img{:src=>asset_path("test/img-06.jpg"), :width=>"960", :height=>"100", :border=>"0"}


  :javascript
    $("#button_increase").click(function(){
      var value= $("#quantity_input").attr("value");
      value=parseInt(value)+1;
      $("#quantity_input").attr("value",value);
      $("#input_hidden").attr("value",value);
    });

    $("#button_decrease").click(function(){
      var value= $("#quantity_input").attr("value");
      value=parseInt(value)-1;
      if(value<=1){
        value=1;
      }
      $("#quantity_input").attr("value",value);
      $("#input_hidden").attr("value",value);
    });

    $("#goods_buycart").click(function(){
      var quantity= $("#quantity_input").attr('value');
      var mall_sku_id=$("#input_hidden_sku").attr('value');
      var RequestUrl= "/customers/add_in_shopping_car";
      $.ajax({
        url: RequestUrl,
        contentType:"application/json; charset=utf-8",
        dataType:"json",
        data:"quantity="+quantity+"&mall_sku_id="+mall_sku_id,
        success: function(json){
          if(1==json){
            alert("成功保存到购物车！");
            return;
          }
        },
        error: function(){
          alert("保存到购物车失败，请刷新后重新操作。");
        }
      });
    });

    if(#{@good.mall_skus.first.mall_inventory.inventory_qty}<=0){
      $("#goods_buymenu").attr("disabled","disabled");
    }

    $(document).ready(function(){
      $(".main_goods_type2:first").addClass("main_goods_type1").removeClass("main_goods_type2");
    })

    $(".main_goods_type2").click(function(){
      $(".main_goods_type1").removeClass("main_goods_type1").addClass("main_goods_type2");
      $(this).removeClass("main_goods_type2").addClass("main_goods_type1");
      $("#input_hidden_sku").val( $(this).attr("value"));

      var requestUrl= "/goods/set_sku_info";
      var sku_id= $(".main_goods_type1").attr("value");

      $.ajax({
        url: requestUrl,
        data: "sku_id="+sku_id,
        contentType: "application/json; charset= utf-8;",
        dataType: "json",
        success: function( sku){
        var show_price= "￥"+sku.show_price.toString();
        $(".mall_good_show_price").text( show_price);

        var customer_price= "￥"+sku.price.toString();
        $(".mall_good_customer_price").text( customer_price);

        var price= "￥"+sku.customer_price.toString();
        $(".mall_good_price").text( price);

        }
      })

    })

    function set_total_price(){

    }