%div{:class=>"my_center_box"}
  %div{:class=>"shopping_cart_title"}
    %a{:href=>"/",:target=>"_blank"}享车网
    &gt;
    %a{:href=>"/center/account_info",:target=>"_blank"}个人中心 
    &gt; 
    %strong 账户信息
  %div{:class=>"my_center_left"}
    = render 'center/menu.html'
  %div{:class=>"my_center_right"}
    %div{:class=>"account_info"}
      %ul
        %li{:class=>"shopping_black14"}账户余额：
        %li
          %span{:class=>"mycenter_sum20"}=@customer.cash_account
          %span{:class=>"shopping_black14"}元
          %a{:href=>"/center/cash_account",:target=>"_blank",:style=>"margin-left:30px"} 
            %img{:src=>asset_path("test/ckxjzh.jpg")}
      %div{:class=>"my_center_line"}            
      %ul
        %li{:class=>"shopping_black14"}洗车记录：
        - if @cus_status == "actived"
          %li{:class=>"mycenter12"}
            %strong{:class=>"good_total_wz14"}#{@days}
            天中，您已经洗车
            %strong{:class=>"good_total_wz14"}#{@consumption_records.count}
            次，本月您还能洗车
            %strong{:class=>"good_total_wz14"}#{@this_month_wash}
            次，总剩余洗车次数
            %strong{:class=>"good_total_wz14"}#{12-@used_month_count}
            次
        - else
          %li{:class=>"mycenter12"}
            无
      %div{:class=>"my_center_line"}
      %ul
        %li{:style=>"padding-top:30px;"}
          %a{:href=>"/center/consumption",:target=>"_blank"}
            %img{:src=>asset_path("test/anniu_r1_c1.jpg"),:width=>"92px",:height=>"26px"}
          %a{:href=>"/center/order",:target=>"_blank",:style=>"margin-left:10px"}
            %img{:src=>asset_path("test/anniu_r1_c3.jpg"),:width=>"92px",:height=>"26px"}

    %div{:class=>"my_center_details"}
      %div{:class=>"my_center_title"}养护卡信息
      %div{:class=>"my_center_details_left"}
        %li 您的养护卡卡号为：
        %li 您的购买的养护卡是：
        %li 您的卡片状态为：
        %li 养护卡有效期：
      %div{:class=>"my_center_details_right"}
        %li{:class=>"shopping_black14"}
          %strong=@card.card_number
        %li 
          汽车养护卡普通会员（
          %a{:href=>"/home/about_us?id=1",:target=>"_blank",:class=>"good_name_wz"} 查看会员权限
          ）
        %li 
          - if @card.status == "actived"
            正常
          - if @card.status == "paid"
            尚未选择车行
          - if @card.status == "unpaid"
            尚未支付

        %li 
          - if @card.activated_date.present?
            =@card.activated_date.localtime.strftime("%Y年%m月%d日")+"-"+@card.expiring_date.strftime("%Y年%m月%d日")
      %div{:class=>"my_center_title"}服务车行
      %div{:class=>"my_center_details_left"}
        %li 您选择的服务车行为：
      %div{:class=>"my_center_details_right"}
        %li{:class=>"shopping_black14"}
          %strong
            - if @card.vendor_binding_record.present?
              %a{:href=>"/vendors/#{@card.vendor_binding_record.vendor_id}",:target=>"_blank",:class=>"good_name_wz"}=@card.vendor_binding_record.vendor.name
                
              %a{:href=>"/vendors/map",:target=>"_blank",:class=>"good_name_wz",:style=>"margin-left:10px"}查看所有车行地图

            - else 
              没有车行

      %div{:class=>"my_center_title"}个人信息
      %div{:class=>"my_center_details_left"}
        %li 会员姓名：
        %li 性别：
        %li 联系电话：
        %li 邮箱：
        %li 邮寄地址：
      %div{:class=>"my_center_details_right"}
        %li=@customer.name
        %li=@customer.gender
        %li=@customer.phone
        %li=@customer.email
        %li=@customer.address
      %div{:class=>"my_center_title"}车辆信息
      %div{:class=>"my_center_details_left"}
        %li 您的车辆：
        %li 车牌号：
        %li 购车时间：
        
      %div{:class=>"my_center_details_right"}
        %li
          -if @car.present?
            - if @car.car_model.present?
              = @car.car_model.car_set.car_brand.name.split(" ")[1]
              &nbsp;
              = @car.car_model.car_set.name.split(" ")[1]
              &nbsp;
              = @car.car_model.name 
        %li
          -if @car.present?
            =@car.plate_number
        %li
          - if @car.present?
            - if @car.bought_since.present?
              = @car.bought_since.strftime("%Y-%m-%d")
