%script{:language=>"javascript",:type=>"text/javascript",:src=>"/My97DatePicker/WdatePicker.js"}


%div{:class=>"my_center_box"}
  %div{:class=>"shopping_cart_title"}
    %a{:href=>"/",:target=>"_blank"}享车网
    &gt;
    %a{:href=>"/center/account_info",:target=>"_blank"}个人中心 
    &gt; 
    %strong 我的订单
  %div{:class=>"my_center_left"}
    = render 'center/menu.html'

  %div{:class=>"my_center_right"}
    %div{:class=>"my_center_details"}
      %div{:class=>"my_center_title"}我的订单
      / %div{:class=>"order_info_words"}
      /   这里是您在享车网的所有订单列表这里是您在享车网的所有订单列表这里是您在享车网的所有订单列表这里是您在享车网的所有订单列表这里是您在享车网的所有订单列表这里是您在享车网的所有订单列表这里是您在享车网的所有订单列表这里是您在享车网的所有订单列表这里是您在享车网的所有订单列表
      / %div{:class=>"my_center_title2"}
      /   全部订单
      %div{:class=>"order_info_title"}
        %font{:style=>"margin-left:100px"}订单信息
        %font{:style=>"margin-left:150px"}服务车行
        %font{:style=>"margin-left:80px"}单价
        %font{:style=>"margin-left:30px"}数量
        %font{:style=>"margin-left:25px"}实付总额
        %font{:style=>"margin-left:70px"}操作     

      - @orders.each do |order|
        %div{:class=>"order_list"}
          %table{:width=>"818px",:border=>"0px",:cellpadding=>"0px",:cellspacing=>"1px",:bgcolor=>"#EAEAEA"}
            %tr
              %td{:height=>"20px",:colspan=>"6",:align=>"left",:valign=>"middle" ,:bgcolor=>"#F3F3F3"}
                %table{:border=>"0px",:cellspacing=>"10px",:cellpadding=>"0px"}
                  %tr
                    %td{:align=>"right"}订单编号：
                    %td{:align=>"left",:class=>"Red"}=order.order_no.to_s+""
                    %td 下单时间：#{order.created_at.strftime("%Y-%m-%d %H:%M:%S")}
                    - if order.status == 1
                      %td 
                        %b 已支付 
                    - elsif order.status == 0
                      %td 
                        %a{:href=>"#{to_alipay_good(order)}"}继续支付

            - @lines = get_order_lines(order.id.to_s,order.status);
            - @i = 0;
            - @lines.each do |line|
              %tr
                %td{:width=>"303px",:height=>"50px",:align=>"center",:valign=>"middle" ,:bgcolor=>"#FFFFFF"}
                  %table{:width=>"300px",:border=>"0px",:cellpadding=>"0px",:cellspacing=>"10px"}
                    %tr
                      %td{:width=>"52px"}
                        %table{:width=>"50px",:border=>"0px",:align=>"center",:cellpadding=>"0px",:cellspacing=>"1px",:bgcolor=>"#CCCCCC"}
                          %tr
                            %td{:height=>"50px",:align=>"left",:valign=>"middle" ,:bgcolor=>"#FFFFFF"}
                              %a{:href=>"#",:target=>"_blank",:class=>"good_name_wz"}
                                %img{:src=>"#{line['logo_url1']}",:alt=>"",:width=>"50px",:height=>"50px"}
                   
                      %td
                        %a{:href=>"/goods/#{line['mg_id']}",:target=>"_blank",:class=>"good_name_wz"}=line['title']+"-"+line['desc']
                   
                %td{:align=>"center",:valign=>"middle",:bgcolor=>"#FFFFFF"}
                  %a{:href=>"/vendors/#{line['v_id']}",:target=>"_blank"}=line['v_name']

                %td{:width=>"76px",:height=>"50px",:align=>"center",:valign=>"middle" ,:bgcolor=>"#FFFFFF"}￥ #{line['price']/line['quantity']}

                %td{:width=>"42px",:height=>"50px",:align=>"center",:valign=>"middle" ,:bgcolor=>"#FFFFFF"}#{line['quantity']}件

                - if @i == 0
                  %td{:width=>"89px",:rowspan=>"#{@lines.count}",:align=>"center",:valign=>"middle" ,:bgcolor=>"#FFFFFF"}
                    %strong{:class=>"good_total_wz14"}￥#{order.price}

                %td{:width=>"160px",:height=>"50px",:align=>"center",:valign=>"middle" ,:bgcolor=>"#FFFFFF"}
                  %table{:width=>"134px",:border=>"0px",:cellspacing=>"5px",:cellpadding=>"0px"}
                    - if order.status == 0
                      %tr
                        无
                    -else
                      - if line["used_time"].present?
                        %tr
                          %td{:height=>"30px",:align=>"center",:valign=>"middle"}=line["used_time"].strftime("%Y-%m-%d %H:%M:%S")+" 已使用"
                      - else
                        %tr
                          %td{:height=>"30px",:align=>"center",:valign=>"middle",:class=>"Red"}  兑换码：#{line['exchange_code_number']}
                       
                        %tr
                          %td{:height=>"30px",:align=>"center",:valign=>"middle"}
                            %font{:id=>"font_time_#{line['me_id']}"}#{line["order_time"]}
                            
                            - if line["order_time"].present?
                              %a{:onClick=>"WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',el:$dp.$('h_time_#{line['me_id']}'),onpicked:function(){update_order_time(#{line['me_id']})}})",:href=>"javascript:void(0);",:class=>"good_name_wz"}修改预约时间
                            - else
                              %a{:onclick=>"javascript:void(0);"}
                                %img{:src=>asset_path("test/yuyue.jpg"),:width=>"86px",:height=>"23px",:onClick=>"WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',el:$dp.$('h_time_#{line['me_id']}'),onpicked:function(){update_order_time(#{line['me_id']})}})"}

                          %input{:type=>"hidden",:id=>"h_time_#{line['me_id']}"}
                     
              -@i = @i+1;
      %div
        %div{:class=>"pagebar"}
          / 当分页未到达末尾页时 
          %div{:class=>"page-bottom right"}
            %a{:href=>"order?h_pageIndex=1",:class=>"next",:style=>"text-align:center;margin-right:10px"}首页
            - if @pageIndex>1
              %a{:href=>"order?h_pageIndex=#{@pageIndex-1}",:class=>"next",:style=>"text-align:center;"}上一页
              %span{:class=>"page_omit"}...
            / A 标签 class="page_curOn" 为当前页选中样式
            %a{:class=>"page_curOn"}=@pageIndex
            - @i=1;
            - while @i.to_i < 5 do 
              - if @pageIndex+@i <= @sumCount
                %a{:href=>"order?h_pageIndex=#{@pageIndex+@i}",:class=>"page_cur"}=@pageIndex+@i
              - else 
                - break;
              -@i=@i+1
            / <!--当分页大于5 则选用 <span class="page_omit"> 
            - if @sumCount-@pageIndex >= 5
              %span{:class=>"page_omit"}...
            - if @pageIndex < @sumCount
              %a{:href=>"order?h_pageIndex=#{@pageIndex+1}",:class=>"next",:style=>"text-align:center;"}下一页          
            %a{:href=>"order?h_pageIndex=#{@sumCount}",:class=>"next",:style=>"margin-left:10px;text-align:center;"}末页
  
      
%div{:id=>"time_div",:align=>"center",:style=>"position:absolute;left:0px;top:0px; width:100%;height:2300px;background-color:black;filter:alpha(opacity=85);-moz-opacity:0.85;-khtml-opacity: 0.85; opacity: 0.85;display:none"}
%div{:id=>"time_input",:style=>"position:absolute;top:400px;left:32%;background-color:#ffffff;width:450px;height:150px;filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);-moz-box-shadow: 5px 5px 10px #000000;-webkit-box-shadow: 5px 5px 10px #000000;box-shadow:5px 5px 10px #000000;display:none"}
  %div{:style=>"background-color:#5d83b3;height:25px;padding:3px;",:align=>"left"}   
    %font{:id=>"time_font",:color=>"#ffffff",:style=>"font-size:16px;"} &nbsp;&nbsp;预约时间
    %a{:style=>"cursor:pointer;float:right;margin-right:5px;font-size:16px;color:#ffffff",:onclick=>"close_time();"} x   
  %div{:style=>"margin-left:0px"}
    %br
      %font{:style=>"font-size:14px"} 预约时间：
      %input{:class=>"Wdate",:id=>"time",:type=>"text",:onClick=>"WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"}
    %br 
      %a{:type=>"button",:value=>"确  定",:class=>"good_name_wz",:style=>"font-size:14px;cursor:pointer",:onclick=>"update_order_time();"}确  定
      %a{:type=>"button",:value=>"取  消",:class=>"good_name_wz",:style=>"margin-left:50px;font-size:14px;cursor:pointer",:onclick=>"close_time();"}取  消
      %input{:type=>"hidden",:id=>"h_id"}

:javascript
  function update_order_time(id)
  {
    var obj = $("#h_time_"+id); 
    var h_id = id;
    var time = obj.val();

    $.ajax
    ({
      url:'update_order_time',type:'get',
      data:"time="+encodeURI(time)+"&h_id="+h_id,
      dataType:'text',
      success:function(msg)
      {
        var json_msg = eval('(' + msg + ')');
        if(json_msg.flag == "1")
        {
          alert(json_msg.content);
          $("#font_time_"+id).html(time);
        }
        else
        {
          alert(json_msg.content);
        }
      }
      ,
      error:function()
      {
        alert("预约功能异常");
      }
    });
  }

  function show_time(id)
  {
    $("#h_time_"+id).trigger("click");
    //$("#time").val("");

    //$("#h_id").val(id);

    //$("#time_input").css("top",$(document).scrollTop()+150+"px");
    //$("#time_div").show();
    //$("#time_input").show();
  }

  function close_time()
  {
    $("#time_div").hide();
    $("#time_input").hide();
  }