
!!!
%html
  %head
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = set_title_tag
    = javascript_include_tag "http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js"

  %body
    =render "home/partial/top"
    =render "home/partial/header"
    =yield
    =render "home/partial/footer"
    =render "home/partial/return_top"
